.example-box {
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  position: absolute;

  z-index: 1;
  box-sizing: border-box;

}

.horizontal {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0px;
  border: none;
}
.vertical {
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0px;
}
.l {
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0px;
  mix-blend-mode: multiply;
}
.hori {
  background-color: #000;
}
.example-box:active {

}
.example-boundary {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 97.8vh;
  max-width: 100%;
  gap: 10px;
  border: dotted #ccc 2px;
}
.resizeable-div {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  position: relative;
  overflow: auto;
}

.resize-handle {
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}
.additional-element {
  position: absolute;
}
.button-close {
  font-weight: 500;
}
input {
  width: 120px;
}
.lock {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 10px;
  cursor: pointer;
}
.horizontal {
  background-color: black;
}
/* save */
.bookmarkBtn {
  width: 70px;
  height: 30px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.349);
  background-color: rgb(226, 226, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
}

.IconContainer {
  width: 30px;
  height: 25px;
  background-color: #008000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
  fill: #008000;
  }

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.02em;
  font-weight: 600;
}

.bookmarkBtn:hover .IconContainer {
  width: 90px;
  border-radius: 40px;
  transition-duration: 0.3s;
  fill: black;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}
.trash{
  width: 20px;
  height: 20px;
  position: absolute;

  }