<body class="example-boundary">
  <img
    cdkDragBoundary=".example-boundary"
    *ngFor="let item of gridItems; let i = index"
    class="example-box"
    [src]="item.src"
    [style.height.px]="item.height"
    [style.width.px]="item.width"
    [class]="item.class"
    cdkDrag
    [cdkDragFreeDragPosition]="item"

    (cdkDragEnded)="positions($event, item, i)"
  />
  <img
    *ngFor="let element of GuardGrid; let i = index"
    cdkDragBoundary=".example-boundary"
    class="example-box"
    style="position: absolute"
    [src]="element.src"
    [style.height.px]="element.height"
    [style.width.px]="element.width"
    cdkDrag
    [class]="element.class"
    [cdkDragFreeDragPosition]="element"
    (cdkDragEnded)="guardPosition($event, element, i)"
    />
</body>


<button (click)="save()" >salvar</button>
<button (click)="clear()">Limpar</button>

<!-- <body class="example-boundary" >
 
  <img *ngFor="let element of positionFinalized;let i=index" class="example-box" [src]="element.src" cdkDrag [cdkDragFreeDragPosition]="element" 
  /> 

  
</body> -->
