<div class="main">
  <div class="toolbar">
    <button (click)="addElement('square')"><i class="bi bi-square-fill"></i> Quadrado</button>
    <button (click)="addElement('circle')"><i class="bi bi-circle-fill"></i> Círculo</button>
    <button (click)="addElement('triangle')"><i class="bi bi-triangle-fill"></i> Triângulo</button>
    <button (click)="addElement('diamond')"><i class="bi bi-diamond-fill"></i> Losango</button>
    <button (click)="addElement('star')"><i class="bi bi-star-fill"></i> Estrela</button>
  </div>

  <div class="canvas">
    <svg class="lines">
      <line *ngFor="let c of connections"
        [attr.x1]="getElementById(c.from).x + 40"
        [attr.y1]="getElementById(c.from).y + 40"
        [attr.x2]="getElementById(c.to).x + 40"
        [attr.y2]="getElementById(c.to).y + 40"
        stroke="black"
        stroke-width="2" />
    </svg>

    <div *ngFor="let el of elements"
         cdkDrag
         [cdkDragFreeDragPosition]="{x: el.x, y: el.y}"
         class="element"
         [ngClass]="el.type"
         (click)="selectElement(el.id)"
         (cdkDragEnded)="onDragEnd(el.id, $event)">
      <img *ngIf="el.type === 'image'" src="assets/disjuntor.png" width="60">
      <ng-container *ngIf="el.type !== 'image'">
        <i [ngClass]="getIconClass(el.type)" style="font-size: 32px;"></i>
      </ng-container>
    </div>
  </div>
</div>
