html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#div {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
}

.nav-bar {
  width: 100px;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}
.linha {
  width: 5px;
  height: 50px;
  background-color: black;
  position: absolute;
  padding: 0;
  margin :0;
  top:10px;
}
#verdical {
  display: none;
  position:absolute;
  top: 40px;
}
.line-horizontal{
  top: 80px;
  width: 50px;
  height: 5px;
  background-color: black;
  position: absolute;
}
#horizontal {
    display: none;
    top: 80px;
    position: absolute;

}
.genericLoad{
    top: 100px;
  position: absolute;
}
#genericLoad{
    position: absolute;
    display: none;
    top: 110px;
}
.key{
  top: 160px;
  position: absolute;
}
#key{
  position: absolute;
  display: none;
  top: 160px;
}
.transformer{
  position: absolute;
  top: 210px;
}
#transformer{
  position: absolute;
  display: none;
  top: 210px;
}

.exitPoint{
  top: 260px;
  position: absolute;
}
#exitPoint{
  position: absolute;
  display: none;
  top: 260px;
}
.entryPoint{
  top: 300px;
  position: absolute;
}
#entryPoint{
  position: absolute;
  display: none;
  top: 300px;
}
.circuitBreaker{
  top: 350px;
  position: absolute;
}
#circuitBreaker{
  position: absolute;
  display: none;
  top: 350px;
}

.feeder{
  top: 400px;
  position: absolute;
}
#feeder{
  position: absolute;
  display: none;
  top: 400px;
}