<div id="div" (dragover)="allowDrop($event)" (drop)="handleDrop($event)">
  <div class="nav-bar">
    <button id="verdical" (click)="addLines('linesVerdical')">mais</button>
    <div
      *ngFor="let line of linesVertical; let index"
      [id]="line"
      draggable="true"
      class="linha"
      (dragstart)="handleDragStart($event, line)"
    ></div>
    <button id="horizontal" (click)="addLines('linesHorizontal')">mais</button>

    <div
      *ngFor="let Hline of linesHorizontal; let index"
      [id]="Hline"
      draggable="true"
      class="line-horizontal"
      (dragstart)="handleDragStart($event, Hline)"
    ></div>
    <button id="genericLoad" (click)="addLines('genericLoad')">mais</button>

    <img
      *ngFor="let gLoada of genericLoad; let index"
      [id]="gLoada"
      class="genericLoad"
      src="assets/unifilar_carga_generica.svg"
      width="50px"
      height="50px"
      (dragstart)="handleDragStart($event, gLoada)"
    />
  </div>
</div>
